/* Configuración del cuerpo y contenedor principal */
body, html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column; /* Permite un diseño en columna */
}

.container {
  flex: 1; /* Permite que el contenido crezca dinámicamente */
  overflow: hidden; /* Evita que el contenido desborde fuera del contenedor */
}

/* Ajuste del footer */
footer {
  position: relative; /* Cambiar de absolute a relative */
  bottom: 0;
  background-color: #27485e;
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}
