* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Bree Serif", serif;
  background-color: #eef1f4;
}

  header p{
      height: 3vh;
      line-height: 3vh;
      text-align: center;
      font-size: 1vw;
      color: white;
      background-color: transparent;
    }
  
    header{
      position: fixed;
      top: 0;
      width: 100vw;
      height: 3vh;
      background-color: #1B2E51;
      z-index: 5;
    }
  
    nav{
      position: fixed;
      display: flex;
      top: 3vh;
      height: 8vh;
      width: 100vw;
      box-shadow: 0px 0.5vh 2vh black;
      z-index: 5;
    }
  
    nav a{
      width: 7vw;
    }
  
    .container_nav{
      display: flex;
      width: 90vw;
      height: 6.5vh;
      margin-left: 0%;
      margin-top: 0.5vh;
      border-bottom: black solid 0.2vh;
      border-top: black solid 0.2vh;
      z-index: 3;
    }
  
    .logo{
      width: auto;
      height: 80%;
      margin-left: 1vw;
      margin-right: -2vw;
      margin-top: 0.8vh;
      border-radius: 1em;
    }
  
    .container_nav a{
      width: 3.6vw;
      height: 3.6vw;
      background-color: transparent;
    }
  
    .botones{
      z-index: 2;
      display: flex;
      width: 75vw;
      margin-left: 2vw;
      background-color: transparent;
    }
  
    .botones li, .dos{
      width: 15vw;
      height: 6vh;
      line-height: 6vh;
      text-align: center;
    }
    
    .boton{
      width: 15vw;
      height: 8vh;
      background-color: transparent;
    }
    
    .boton span{
      display: block;
      width: 15vw;
      height: 6vh;
      font-size: 1vw;
      color: black;
      background-color: transparent;
    }
    
    .boton span:hover{
      width: 15vw;
      height: 6vh;
      background-color: rgb(214, 214, 214);
    }
    
    .redes_sociales{
      width: 11vw;
    }
    
    .redes_sociales i{
      height: 6vh;
      width: 3.3vw;
      line-height: 6vh;
      text-align: center;
      font-size: 1.5vw;
      color: black;
    }
    
    .submenu {
      position: absolute;
      display: none;
      width: 15vw;
      height: 18vh;
      z-index: -1;
      top: 7vh;
      left: 24vw;
      transition: 0.5s;
      background-color: rgb(233, 233, 233);
    }
    
    .submenu li{
      background-color: transparent;
    }
    
    .submenu li span {
      display: inline-block;
      width: 14vw;
      height: 4.5vh;
      line-height: 4.5vh;
      text-align: center;
      font-size: 1vw;
      color: black;
      background-color: transparent;
    }
    
    .submenu a{
      background-color: transparent;
    }
    
    .submenu li span:hover {
      width: 14vw;
      left: 0.1vw;
      border-bottom: solid rgb(90, 90, 90) 0.3vw;
      background-color: rgb(199, 199, 199);
    }
    
    .dos i{
      position: absolute;
      left: 26vw;
      height: 6vh;
      line-height: 6vh;
      font-size: 1vw;
      background-color: transparent;
    }
    
    .dos span{
      background-color: transparent;
      font-size: 1vw;
    }
    
    .dos {
      background-color: transparent;
    }
    
    .dos:hover {
      background-color: white;
    }
    
    .dos:hover .submenu {
      display: initial;
    }
    
    .dos:hover > .boton span {
      background-color: white;
    }
    
    .dos:hover .submenu {
      display: block;
    }
    
    .dos:hover > .boton span {
      background-color: white;
    }
    
    .imagen_polo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 13vh;
      width: 70vw;
    }
    
    .iconos {
      margin-top: 1.7vh;
    }
  
    .lineas {
      margin-top: 0.5vh;
      margin-left: 2.5vh;
      width: 83%; /* Estira la imagen a lo largo de todo el contenedor */
      height: auto;
    }
    
    /*Seccion ¿Quienes Somos*/
  
    .container_contenido_quienes_somos_titulo {
      align-items: center;
      display: flex;
      justify-content: flex-start;
      font-size: 1.5vw;
    }
  
    .container_contenido_quienes_somos_titulo i{
      font-size: 1.5vw;
    }
  
    .container_contenido_quienes_somos_texto {
      display: flex;
      justify-content: center; /* Centra el contenido en el eje horizontal */
      align-items: center; /* Centra el contenido en el eje vertical */
    }
  
    .container_contenido_quienes_somos_texto p {
      width: 80%; /* Ajusta el ancho del párrafo */
      text-align: center;
      font-size: 1vw;
    }
  
    /*Seccion Donde estamos*/
    .container_contenido_donde_estamos{
        display: flex;
        height: 65vh;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .container_contenido_donde_estamos_titulo {
      align-items: center;
      display: flex;
      justify-content: flex-start;
      font-size: 1.5vw;
    }
  
    .container_contenido_donde_estamos_titulo i{
      font-size: 1.5vw;
    }
  
    .container_all{
        position: absolute;
      background-color: #90BEB9;
      width: 70vw;
      height: 65vh;
      display: flex;
      margin-left: 15vw;
      border-radius: 0.5em;
      box-shadow: 0 0 10px rgba(0, 0, 0, 2);
      border: 0.25vw solid #1b2e51;
    }
    
    .mapa {
      margin-top: 2vh;
      width: 30vw;
      height: 54vh;
      background-color: transparent;
    }
    
    .cont_mapa {
        height: 56vh; /* Altura fija en relación al contenedor */
        border-radius: 1em;
        margin-top: 2vh;
        margin-left: 1.5vw;
    }
  
    .foto {
      background-color: transparent;
      width: 29vw;
      height: 40vh;
      margin-top: 2vh;
      margin-left: 13vw;
      border-radius: 1em;
    }
  
    .container_contenido1{
        position: relative;
        background-color: transparent;
        margin-top: 2vh;
        margin-left: 39.25vw;
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s ease;
    }

    .container_contenido1 .container_contenido_donde_estamos_contenido_info{
      background-color: white;
      width: 28vw;
      height: 12vh;
      border-radius: 1em;
      margin-left: 13.3vw;
      margin-top: 0.5vh;
      box-shadow: 0 0 10px rgba(0, 0, 0, 2);
      display: flex;
      flex-direction: column;
      padding: 0.5vh;
    }

    .container_contenido2{
        position: relative;
        background-color: transparent;
        margin-top: 2vh;
        margin-left: -43vw;
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s ease;
    }

    .container_contenido2 .container_contenido_donde_estamos_contenido_info{
      background-color: white;
      width: 28vw;
      height: 12vh;
      border-radius: 1em;
      margin-left: 13.3vw;
      margin-top: 0.5vh;
      box-shadow: 0 0 10px rgba(0, 0, 0, 2);
      display: flex;
      flex-direction: column;
      padding: 0.5vh;
    }

    .container_contenido3{
        position: relative;
        background-color: transparent;
        margin-top: 2vh;
        margin-left: -43vw;
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s ease;
    }

    .container_contenido3 .container_contenido_donde_estamos_contenido_info{
      background-color: white;
      width: 28vw;
      height: 12vh;
      border-radius: 1em;
      margin-left: 13.3vw;
      margin-top: 0.5vh;
      box-shadow: 0 0 10px rgba(0, 0, 0, 2);
      display: flex;
      flex-direction: column;
      padding: 0.5vh;
    }

    .container_contenido4{
        position: relative;
        background-color: transparent;
        margin-top: 2vh;
        margin-left: -43vw;
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s ease;
    }

    .container_contenido4 .container_contenido_donde_estamos_contenido_info{
      background-color: white;
      width: 28vw;
      height: 12vh;
      border-radius: 1em;
      margin-left: 13.3vw;
      margin-top: 0.5vh;
      box-shadow: 0 0 10px rgba(0, 0, 0, 2);
      display: flex;
      flex-direction: column;
      padding: 0.5vh;
    }

    .container_contenido5 {
        position: relative;
        background-color: transparent;
        margin-top: 2vh;
        margin-left: -43.2vw;
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s ease;
    }

    .container_contenido5 .container_contenido_donde_estamos_contenido_info{
      background-color: white;
      width: 28vw;
      height: 12vh;
      border-radius: 1em;
      margin-left: 13.3vw;
      margin-top: 0.5vh;
      box-shadow: 0 0 10px rgba(0, 0, 0, 2);
      display: flex;
      flex-direction: column;
      padding: 0.5vh;
    }
  
    .container_contenido_donde_estamos_contenido_info span{
      margin-left: 0.5vw;
      background-color: transparent;
      font-size: 1.2vw;
    }
  
    .container_contenido_donde_estamos_contenido_info i{
      height: 2vh;
      margin-right: 0.5vw;
      margin-left: 0.8vw;
      background-color: transparent;
      font-size: 1.2vw;
    }
  
    #primero_dato{
      margin-top: 0.6vh;
      background-color: transparent;
    }
  
    .contenedor_info{
      width: 32vw;
      height: 58vh;
      margin-top: 2vh;
      margin-left: 5vw;
      background-color: white;
      border-radius: 1em;
    }
  
  
    .puntos i{
      color: red;
      cursor: pointer;
      background-color: transparent;
    }
  
    .btn_radio{
      display: none;
    }

    .puntos {
        position: relative;
        font-size: 1vw;
        color: red;
        cursor: pointer;
        background-color: transparent;
    }
    
  /* Punto 1 */
  #punto1 {
    
    }

/* Punto 2 */
    #punto2 {
        top: 45.8%; /* Calculado como (600px / 1311px) * 100 */
        left: 59.9%; /* Calculado como (1300px / 2171px) * 100 */
    }

/* Punto 3 */
    #punto3 {
        top: 76.3%; /* Calculado como (1000px / 1311px) * 100 */
        left: 69.0%; /* Calculado como (1500px / 2171px) * 100 */
    }

    #punto4{

      top: 88.2vh;
      left: 27.25vw;
      font-size: 1.1vw;
      background-color: transparent;
    }
    #punto5{
     
      top: 103vh;
      left: 38.7vw;
      font-size: 1.1vw;
      background-color: transparent;
    }
  
    #btn1_opcion:checked ~ .container_contenido1,
    #btn2_opcion:checked ~ .container_contenido2,
    #btn3_opcion:checked ~ .container_contenido3,
    #btn4_opcion:checked ~ .container_contenido4,
    #btn5_opcion:checked ~ .container_contenido5{
      opacity: 1;
      visibility: visible;
    }
  
    /*Seccion Nuestro Equipo*/
  
    .container_contenido_nuestro_equipo_contenido {
      background-image: url(/Sprint2/Images/aboutme_images/imagen_3.png);
      background-size: cover;
      width: 75vw;
      height: 100vh;
      margin-left: 8vw;
      padding-left: 7vw;
    }
  
    .container_persona {
      width: 16vw;
      height: 40vh;
      background-color: white;
      margin-left: 15vh;
      margin-top: 4vh;
      box-shadow: 10px 2px 10px rgba(0, 0, 0, 2);
    }
  
    .container_persona img{
      width: 16vw;
      height: 25vh;
    }
  
    .container_persona_textos {
        height: 16vh;
        padding: 0.4vw;
    }
  
    .container_persona_textos h1 {
      font-size: 1.5vw;
    }
  
    .container_persona_textos p {
      font-size: 1vw;
    }
  
    .container_contenido_nuestro_equipo_contenido_fila_superior {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-left: -32vh;
      background-color: transparent;
    }
  
    .container_contenido_nuestro_equipo_contenido_fila_inferior {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-left: -32vh;
      margin-top: 3vh;
      background-color: transparent;
    }

    .container_contenido_nuestro_equipo_contenido_fila_superior i{
        font-size: 2vw;
        margin-left: 1vw;
        background-color: transparent; 
    }
    
    .container_contenido_nuestro_equipo_contenido_fila_inferior i{
      font-size: 2vw;
      margin-left: 1vw;
      background-color: transparent;
    }
    /*Seccion gestion de conocimiento*/
  
    .container_contenido_gestion_del_conocimiento_titulo {
      align-items: center;
      display: flex;
      justify-content: flex-start;
      font-size: 1.5vw;
    }
  
    .container_contenido_gestion_del_conocimiento_titulo i{
      font-size: 2.5vw;
    }
    
    .container_contenido_gestion_del_conocimiento_titulo .iconos{
      height: 10vh;
      padding-top: 2vh;
      width: 2vw;
    }
  
    .container_contenifo_gestion_del_conocimiento_imagen {
      margin-left: 10vw;
      width: 80vw;
    }
  
    .container_persona a{
      background-color: transparent;
    }
  
    /*Seccion Quieres saber mas*/
  
    .container_contenido_quieres_saber_mas_titulo {
      align-items: center;
      display: flex;
      justify-content: flex-start;
      font-size: 2vw;
      margin-top: 2vh;
    }
  
    .container_contenido_quieres_saber_mas_titulo p {
      display: block;
      position: absolute;
      text-align: center;
      width: 20vw;
      left: 40vw;
      border-bottom: #1B2E51 solid 1vh;
    }
  
    .lineas_fondo {
      width: 42vw;
      margin-left: 5vw;
    }
  
    .container_contenido_quieres_saber_mas_contenido {
      align-items: center;
      display: flex;
      justify-content: center;
      gap: 60px;
      margin-top: 6vh;
    }
  
    .container_contenido_quieres_saber_mas_contenido_noticia {
      width: 40vw;
      height: 50vh;
      font-size: 1.5vw;
    }
  
    .container_contenido_quieres_saber_mas_contenido_noticia img{
      width: 35vw;
    }

    .container_contenido_quieres_saber_mas_contenido_noticia p a {
      text-decoration: none; /* Quita el subrayado */
      color: black; /* Cambia el color del enlace */
    }
    
    .texto_noticia{
      color: black;
      opacity: 0.5;
      font-size: 1vw;
      margin-left: 1vh;
      width: 30vw;
      height: 52.11px;
    }

    .fecha_noticia{
      color: black;
      opacity: 0.4;
      font-size: 1vw;
      margin-left: 1vh;
    }

    footer {
      width: 100%;
      height: 20vh;
      background-color: #1b2e51;
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    
    .footer-images {
      display: flex;
      gap: 50vh;
      margin-left: 15vh;
      background-color: transparent;
    }
    
    .footer-images img{
      width: 17vw;
      height: 12vh;
      background-color: transparent;
    }
  
    footer p {
      margin-bottom: -4vh;
      color: #eef1f4;
      margin-left: 15vh;
      font-size: 1.5vw;
      background-color: transparent;
    }
    
    .separador{
      height: 20vh;
    }

