* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Bree Serif", serif;
}

body {
  background-color: #eef1f4;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4%;
  background-color: #1b2e51;
  z-index: 5;
}

header p {
  height: 100%;
  line-height: 220%;
  text-align: center;
  font-size: 0.8vw;
  color: white;
  background-color: transparent;
}

nav {
  position: fixed;
  display: flex;
  top: 4vh;
  height: 10vh;
  width: 100vw;
  box-shadow: 0px 0.5vh 2vh black;
  z-index: 5;
  background-color: #eef1f4;
}

.container_nav {
  display: flex;
  width: 90vw;
  height: 8vh;
  margin-left: 5vw;
  margin-top: 0.5vh;
  border-bottom: black solid 0.2vh;
  border-top: black solid 0.2vh;
  z-index: 3;
}

.logo {
  width: 4vw;
  height: 4vw;
  margin-left: 1vw;
  margin-right: -2vw;
  margin-top: 0.8vh;
  border-radius: 1em;
}

.container_nav a {
  width: 3.6vw;
  height: 3.6vw;
  background-color: transparent;
}

.botones {
  z-index: 2;
  display: flex;
  width: 75vw;
  margin-left: 2vw;
  background-color: transparent;
}

.botones li,
.dos {
  width: 15vw;
  height: 8vh;
  line-height: 8vh;
  text-align: center;
}

.boton {
  width: 15vw;
  height: 8vh;
  background-color: transparent;
}

.boton span {
  display: block;
  width: 15vw;
  height: 8vh;
  font-size: 1vw;
  color: black;
  background-color: transparent;
}

.boton span:hover {
  width: 15vw;
  height: 8vh;
  background-color: rgb(214, 214, 214);
}

.redes_sociales {
  width: 11vw;
}

.redes_sociales i {
  height: 8vh;
  width: 3.3vw;
  line-height: 8vh;
  text-align: center;
  font-size: 1.5vw;
  color: black;
}

.submenu {
  position: absolute;
  display: none;
  width: 15vw;
  height: 26vh;
  z-index: -1;
  top: 8.7vh;
  left: 25vw;
  transition: 0.5s;
  background-color: rgb(233, 233, 233);
}

.submenu li {
  background-color: transparent;
}

.submenu li span {
  display: inline-block;
  width: 14vw;
  height: 8.5vh;
  line-height: 8.5vh;
  text-align: center;
  font-size: 1vw;
  color: black;
  background-color: transparent;
}

.submenu a {
  background-color: transparent;
}

.submenu li span:hover {
  width: 14vw;
  left: 0.1vw;
  border-bottom: solid rgb(90, 90, 90) 0.3vw;
  background-color: rgb(199, 199, 199);
}

.dos i{
  position: absolute;
  left: 26vw;
  height: 8vh;
  line-height: 8vh;
  font-size: 1vw;
  background-color: transparent;
}

.dos {
  background-color: transparent;
}

.dos:hover {
  background-color: white;
}

.dos:hover .submenu {
  display: initial;
}

.dos:hover > .boton span {
  background-color: white;
}

.dos:hover .submenu {
  display: block;
}

.dos:hover > .boton span {
  background-color: white;
}

.container {
  position: relative;
  top: 20vh;
  width: 90vw;
  margin-left: 5vw;
  height: 70vh;
  background-color: rgb(212, 212, 212);
  box-shadow: 0.5vw 1vh 2vh rgba(0, 0, 0, 0.459);
}

.splide__slide {
  background-color: transparent;
  display: flex;
}

.splide__slide img {
  width: 95%;
  height: 66vh;
  margin-top: 2vh;
  margin-left: 2.5%;
  object-fit: cover;
  cursor: pointer;
  background-color: transparent;
}

.splide__track {
  background-color: transparent;
}

.splide__list {
  background-color: transparent;
}

.splide__slide h3 {
  position: absolute;
  top: 60vh;
  left: 2.25vw;
  height: 10vh;
  line-height: 8vh;
  width: 85.5vw;
  background-color: rgba(0, 0, 0, 0.521);
}

.splide__slide span {
  position: absolute;
  font-size: 1.8vw;
  left: 5vw;
  color: white;
  background-color: transparent;
}

/* ultimas noticias*/

.cont_titulo_noticias {
  margin-top: 10vh;
  height: 4vh;
  width: 19vw;
  background-color: #1b2e51;
}

.cont_titulo_noticias span {
  position: absolute;
  height: 4vh;
  width: 18vw;
  padding-left: 0.5vw;
  line-height: 4vh;
  left: 1vw;
  background-color: #eef1f4;
}

.linea {
  position: absolute;
  width: 65vw;
  height: 0.3vh;
  margin-top: 2vh;
  margin-left: 20vw;
  background-color: black;
}

.cont_ult_news {
  position: absolute;
  display: flex;
  height: 70vh;
  width: 90vw;
  top: 80vh;
  border-radius: 1em;
  background-color: transparent;
}

.cont_ult_news a {
  width: 24vw;
  height: 55vh;
  margin-top: 2vh;
  margin-left: 3.25vw;
  color: black;
  background-color: transparent;
}

.noticias {
  width: 24vw;
  height: 55vh;
  border-radius: 2em;
  background-color: transparent;
}

.noticias img {
  width: 20vw;
  height: 20vh;
  margin-top: 4vh;
  margin-left: 2vw;
  object-fit: cover;
  box-shadow: 0.5vh 0.5vh 1vh rgba(0, 0, 0, 0.342);
}

.text_news h3 {
  width: 22vw;
  height: 8vh;
  line-height: 8vh;
  margin-left: 1vw;
  text-align: center;
  font-size: 1.5vw;
  color: black;
  background-color: transparent;
}

.text_news p {
  width: 20vw;
  height: 19vh;
  margin-left: 2vw;
  font-size: 0.85vw;
  text-align: justify;
  background-color: transparent;
}

.text_news {
  margin-top: 2vh;
  background-color: transparent;
}

.separador {
  margin-top: 50vh;
}

.imagen_polo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17vh;
}

.iconos {
  margin-top: 1.7vh;
}

.lineas {
  margin-top: 0.5vh;
  margin-left: 2.5vh;
  width: 83%; /* Estira la imagen a lo largo de todo el contenedor */
  height: auto;
}

/*Seccion ¿Quienes Somos*/

.container_contenido_quienes_somos_titulo {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.container_contenido_quienes_somos_texto {
  display: flex;
  justify-content: center; /* Centra el contenido en el eje horizontal */
  align-items: center; /* Centra el contenido en el eje vertical */
}

.container_contenido_quienes_somos_texto p {
  width: 80%; /* Ajusta el ancho del párrafo */
  text-align: center;
}

/*Seccion Donde estamos*/
.container_contenido_donde_estamos_titulo {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.container_contenido_donde_estamos_contenido {
  background-color: #90BEB9;
  width: 70vw;
  height: 60vh;
  display: flex;
  margin-left: 14.5vw;
  border-radius: 0.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 2);
  border: 0.25vw solid #1b2e51;
}

.mapa {
  margin-top: 3vh;
  width: 30vw;
  height: 54vh;
  background-color: transparent;
}

.fotos {
  background-color: transparent;
  width: 29vw;
  height: 40vh;
  margin-top: 6vh;
  margin-left: 20vh;
}

.container_contenido1,
.container_contenido2,
.container_contenido3,
.container_contenido4,
.container_contenido5 {
  background-color: transparent;
  position: absolute;
  left: 43vw;
  top: 62.5vh;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease;
}

.container_contenido_donde_estamos_contenido_info {
  background-color: white;
  width: 28vw;
  height: 10vh;
  border-radius: 1em;
  margin-left: 20.7vh;
  margin-top: 0.5vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 2);
  display: flex;
  flex-direction: column;
  padding: 0.5vh;
}

.container_contenido_donde_estamos_contenido_info span{
  margin-left: 0.5vw;
}

.container_contenido_donde_estamos_contenido_info i{
  height: 2vh;
  margin-right: 0.5vw;
}

#primero_dato{
  margin-top: 0.5vh;
}

.contenedor_info{
  position: absolute;
  width: 32vw;
  height: 56vh;
  margin-top: 2vh;
  left: 51.5vw;
  background-color: white;
  border-radius: 1em;
}

.cont_mapa{
  position: absolute;
  width: 32vw;
  height: 56vh;
  top: 66.5vh;
  left: 16vw;
  border-radius: 1em;
  background-color: white;
}

.puntos{
  color: red;
  cursor: pointer;
}

.btn_radio{
  display: none;
}

#punto1{
  position: absolute;
  top: 87.2vh;
  left: 27.825vw;
  font-size: 1.1vw;
}
#punto2{
  position: absolute;
  top: 81.7vh;
  left: 30.18vw;
  font-size: 1.1vw;
}
#punto3{
  position: absolute;
  top: 76vh;
  left: 21.5vw;
  font-size: 1.1vw;
}
#punto4{
  position: absolute;
  top: 94.8vh;
  left: 25.56vw;
  font-size: 1.1vw;
}
#punto5{
  position: absolute;
  top: 98vh;
  left: 37.9vw;
  font-size: 1.1vw;
}

#btn1_opcion:checked ~ .container_contenido1{
  opacity: 1;
  visibility: visible;
}

#btn2_opcion:checked ~ .container_contenido2{
  opacity: 1;
  visibility: visible;
}

#btn3_opcion:checked ~ .container_contenido3{
  opacity: 1;
  visibility: visible;
}

#btn4_opcion:checked ~ .container_contenido4{
  opacity: 1;
  visibility: visible;
}

#btn5_opcion:checked ~ .container_contenido5{
  opacity: 1;
  visibility: visible;
}

/*Seccion Nuestro Equipo*/

.container_contenido_nuestro_equipo_contenido {
  background-image: url(/Sprint2/Images/aboutme_images/imagen_3.png);
  background-repeat: no-repeat;
  width: 1290px;
  height: 735px;
  margin-left: 30vh;
  padding: 7vh;
}

.container_persona {
  width: 171px;
  height: 314px;
  background-color: white;
  margin-left: 15vh;
  box-shadow: 10px 2px 10px rgba(0, 0, 0, 2);
}

.container_persona_textos {
  padding: 2px;
}

.container_persona_textos h1 {
  font-size: 20px;
  margin-bottom: -2vh;
}

.container_persona_textos p {
  font-size: 13px;
  margin-top: 2vh;
}

.container_contenido_nuestro_equipo_contenido_fila_superior {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: -32vh;
}

.container_contenido_nuestro_equipo_contenido_fila_inferior {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: -32vh;
  margin-top: 1vh;
}

/*Seccion gestion de conocimiento*/

.container_contenido_gestion_del_conocimiento_titulo {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.container_contenifo_gestion_del_conocimiento_imagen {
  margin-left: 26vh;
}

/*Seccion Quieres saber mas*/

.container_contenido_quieres_saber_mas_titulo {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  font-size: 40px;
  margin-left: 5vh;
}

.container_contenido_quieres_saber_mas_titulo p {
  width: 731px;
  margin-right: -360px;
}

.lineas_fondo {
  width: 700px;
}

.container_contenido_quieres_saber_mas_contenido {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.container_contenido_quieres_saber_mas_contenido_noticia {
  width: 410px;
  height: 360px;
}

.container_contenido_quieres_saber_mas_contenido_noticia p a {
  text-decoration: none; /* Quita el subrayado */
  color: black; /* Cambia el color del enlace */
}

/*Footer*/

footer {
  width: 100%px;
  height: 106px;
  background-color: #1b2e51;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10vh;
}

.footer-images {
  display: flex;
  gap: 50vh;
  margin-top: 2vh;
  margin-left: 15vh;
}

footer p {
  margin-bottom: 2vh;
  color: #eef1f4;
  margin-left: 15vh;
}
