* {
  background-color: #eef1f4;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Bree Serif", serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4%;
  background-color: #1b2e51;
  z-index: 5;
}

header p {
  height: 100%;
  line-height: 220%;
  text-align: center;
  font-size: 0.8vw;
  color: white;
  background-color: transparent;
}

nav {
  position: fixed;
  display: flex;
  top: 4vh;
  height: 10vh;
  width: 100vw;
  box-shadow: 0px 0.5vh 2vh black;
  z-index: 5;
}

.container_nav {
  display: flex;
  width: 90vw;
  height: 8vh;
  margin-left: 5vw;
  margin-top: 0.5vh;
  border-bottom: black solid 0.2vh;
  border-top: black solid 0.2vh;
  z-index: 3;
}

.logo {
  width: 4vw;
  height: 4vw;
  margin-left: 1vw;
  margin-right: -2vw;
  margin-top: 0.8vh;
  border-radius: 1em;
}

.container_nav a {
  width: 3.6vw;
  height: 3.6vw;
  background-color: transparent;
}

.botones {
  z-index: 2;
  display: flex;
  width: 75vw;
  margin-left: 2vw;
  background-color: transparent;
}

.botones li,
.dos {
  width: 15vw;
  height: 8vh;
  line-height: 8vh;
  text-align: center;
}

.boton {
  width: 15vw;
  height: 8vh;
  background-color: transparent;
}

.boton span {
  display: block;
  width: 15vw;
  height: 8vh;
  font-size: 1vw;
  color: black;
  background-color: transparent;
}

.boton span:hover {
  width: 15vw;
  height: 8vh;
  background-color: rgb(214, 214, 214);
}

.redes_sociales {
  width: 11vw;
}

.redes_sociales i {
  height: 8vh;
  width: 3.3vw;
  line-height: 8vh;
  text-align: center;
  font-size: 1.5vw;
  color: black;
}

.submenu {
  position: absolute;
  display: none;
  width: 15vw;
  height: 26vh;
  z-index: -1;
  top: 8.7vh;
  left: 25vw;
  transition: 0.5s;
  background-color: rgb(233, 233, 233);
}

.submenu li {
  background-color: transparent;
}

.submenu li span {
  display: inline-block;
  width: 14vw;
  height: 8.5vh;
  line-height: 8.5vh;
  text-align: center;
  font-size: 1vw;
  color: black;
  background-color: transparent;
}

.submenu a {
  background-color: transparent;
}

.submenu li span:hover {
  width: 14vw;
  left: 0.1vw;
  border-radius: 4em;
  background-color: rgb(199, 199, 199);
}

.dos {
  background-color: transparent;
}

.dos:hover {
}

.dos:hover .submenu {
  display: initial;
}

#btn2 span:hover,
.dos:hover > .boton span {
  background-color: white;
}

.dos:hover .submenu {
  display: block;
}

.dos:hover > .boton span {
  background-color: white;
}

.container {
  position: relative;
  top: 20vh;
  width: 90vw;
  margin-left: 5vw;
  height: 70vh;
  background-color: rgb(212, 212, 212);
  box-shadow: 0.5vw 1vh 2vh rgba(0, 0, 0, 0.459);
}

.splide__slide {
  background-color: transparent;
  display: flex;
}

.splide__slide img {
  width: 95%;
  height: 66vh;
  margin-top: 2vh;
  margin-left: 2.5%;
  object-fit: cover;
  cursor: pointer;
  background-color: transparent;
}

.splide__track {
  background-color: transparent;
}

.splide__list {
  background-color: transparent;
}

.splide__slide h3 {
  position: absolute;
  top: 60vh;
  left: 2.25vw;
  height: 10vh;
  line-height: 8vh;
  width: 85.5vw;
  background-color: rgba(0, 0, 0, 0.521);
}

.splide__slide span {
  position: absolute;
  font-size: 1.8vw;
  left: 5vw;
  color: white;
  background-color: transparent;
}

/* ultimas noticias*/

.cont_titulo_noticias {
  margin-top: 10vh;
  height: 4vh;
  width: 19vw;
  background-color: #1b2e51;
}

.cont_titulo_noticias span {
  position: absolute;
  height: 4vh;
  width: 18vw;
  padding-left: 0.5vw;
  line-height: 4vh;
  left: 1vw;
  background-color: #eef1f4;
}

.linea {
  position: absolute;
  width: 65vw;
  height: 0.3vh;
  margin-top: 2vh;
  margin-left: 20vw;
  background-color: black;
}

.cont_ult_news {
  position: absolute;
  display: flex;
  height: 70vh;
  width: 90vw;
  top: 80vh;
  border-radius: 1em;
  background-color: transparent;
}

.cont_ult_news a {
  width: 24vw;
  height: 55vh;
  margin-top: 2vh;
  margin-left: 3.25vw;
  color: black;
  background-color: transparent;
}

.noticias {
  width: 24vw;
  height: 55vh;
  border-radius: 2em;
  background-color: transparent;
}

.noticias img {
  width: 20vw;
  height: 20vh;
  margin-top: 4vh;
  margin-left: 2vw;
  object-fit: cover;
  box-shadow: 0.5vh 0.5vh 1vh rgba(0, 0, 0, 0.342);
}

.text_news h3 {
  width: 22vw;
  height: 8vh;
  line-height: 8vh;
  margin-left: 1vw;
  text-align: center;
  font-size: 1.5vw;
  color: black;
  background-color: transparent;
}

.text_news p {
  width: 20vw;
  height: 19vh;
  margin-left: 2vw;
  font-size: 0.85vw;
  text-align: justify;
  background-color: transparent;
}

.text_news {
  margin-top: 2vh;
  background-color: transparent;
}

.separador {
  margin-top: 50vh;
}

.imagen_polo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17vh;
}

.iconos {
  margin-top: 1.7vh;
}

.lineas {
  margin-top: 0.5vh;
  margin-left: 2.5vh;
  width: 83%; /* Estira la imagen a lo largo de todo el contenedor */
  height: auto;
}

/*Seccion ¿Quienes Somos*/

.container_contenido_quienes_somos_titulo {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.container_contenido_quienes_somos_texto {
  display: flex;
  justify-content: center; /* Centra el contenido en el eje horizontal */
  align-items: center; /* Centra el contenido en el eje vertical */
}

.container_contenido_quienes_somos_texto p {
  width: 80%; /* Ajusta el ancho del párrafo */
  text-align: center;
}

/*Seccio Donde estamos*/

.container_contenido_donde_estamos_titulo {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.container_contenido_donde_estamos_contenido {
  background-color: #90beb9;
  width: 1396px;
  height: 618px;
  display: flex;
  margin-left: 40vh;
  border-radius: 7px;
  border-color: #1b2e51;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container_contenido_donde_estamos_contenido img {
  width: 606px;
  height: 573px;
  background-color: transparent;
}
