*{
  background-color: #EEF1F4;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Bree Serif", serif;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 4%;
  background-color: #1B2E51;
  z-index: 5;
}

header p{
  height: 100%;
  line-height: 220%;
  text-align: center;
  font-size: 0.8vw;
  color: white;
  background-color: transparent;
}

nav{
  position: fixed;
  display: flex;
  top: 4vh;
  height: 10vh;
  width: 100vw;
  box-shadow: 0px 0.5vh 2vh black;
  z-index: 5;
}

.container_nav{
  display: flex;
  width: 90vw;
  height: 8vh;
  margin-left: 5vw;
  margin-top: 0.5vh;
  border-bottom: black solid 0.2vh;
  border-top: black solid 0.2vh;
  z-index: 3;
}

.logo{
  width: 4vw;
  height: 4vw;
  margin-left: 1vw;
  margin-right: -2vw;
  margin-top: 0.8vh;
  border-radius: 1em;
}

.container_nav a{
  width: 3.6vw;
  height: 3.6vw;
  background-color: transparent;
}

.botones{
  z-index: 2;
  display: flex;
  width: 75vw;
  margin-left: 2vw;
  background-color: transparent;
}

.botones li, .dos{
  width: 15vw;
  height: 8vh;
  line-height: 8vh;
  text-align: center;
}

.boton{
  width: 15vw;
  height: 8vh;
  background-color: transparent;
}

.boton span{
  display: block;
  width: 15vw;
  height: 8vh;
  font-size: 1vw;
  color: black;
  background-color: transparent;
}

.boton span:hover{
  width: 15vw;
  height: 8vh;
  background-color: rgb(214, 214, 214);
}

.redes_sociales{
  width: 11vw;
}

.redes_sociales i{
  height: 8vh;
  width: 3.3vw;
  line-height: 8vh;
  text-align: center;
  font-size: 1.5vw;
  color: black;
}

.submenu {
  position: absolute;
  display: none;
  width: 15vw;
  height: 26vh;
  z-index: -1;
  top: 8.7vh;
  left: 25vw;
  transition: 0.5s;
  background-color: rgb(233, 233, 233);
}

.submenu li{
  background-color: transparent;
}

.submenu li span {
  display: inline-block;
  width: 14vw;
  height: 8.5vh;
  line-height: 8.5vh;
  text-align: center;
  font-size: 1vw;
  color: black;
  background-color: transparent;
}

.submenu a{
  background-color: transparent;
}

.submenu li span:hover {
  width: 14vw;
  left: 0.1vw;
  border-bottom: solid rgb(90, 90, 90) 0.3vw;
  background-color: rgb(199, 199, 199);
}

.dos i{
  position: absolute;
  left: 26vw;
  height: 8vh;
  line-height: 8vh;
  font-size: 1vw;
  background-color: transparent;
}

.dos span{
  background-color: transparent;
  font-size: 1vw;
}

.dos {
  background-color: transparent;
}

.dos:hover {
  background-color: white;
}

.dos:hover .submenu {
  display: initial;
}

.dos:hover > .boton span {
  background-color: white;
}

.dos:hover .submenu {
  display: block;
}

.dos:hover > .boton span {
  background-color: white;
}

.titulo{
  display: flex;
  width: 100vw;
  height: 12vh;
  margin-top: 19vh;
}

.titulo h2{
  width: 15vw;
  height: 5vh;
  text-align: center;
  border-bottom: solid #1B2E51 0.5vw;
}

.titulo h2 span{
  width: 15vw;
}

.linea1{
  height: 0.25vh;
  width: 38vw;
  margin-top: 1.5vh;
  margin-left: 2.5vw;
  margin-right: 1vw;
  background-color: #1B2E51;
}

.linea2{
  height: 0.25vh;
  width: 39vw;
  margin-left: 1vw;
  margin-top: 1.5vh;
  background-color: #1B2E51;
}

.cont_titulo_componente1{
  display: flex;
  margin-top: -2vh;
  margin-left: 2vw;
  height: 4vh;
  width: 48vw;
  background-color: #1B2E51;
}

.cont_titulo_componente1 h2{
  height: 4vh;
  width: 55vw;
  margin-left: 0.7vw;
  line-height: 4vh;
  background-color: #EEF1F4;
}

.cont_titulo_componente1 span{
  height: 4vh;
  margin-left: 0.5vw;
  line-height: 4vh;
  background-color: #EEF1F4;
}

.cont_titulo_componente1 .linea{
  position: absolute;
  width: 48vw;
  height: 0.3vh;
  margin-top: 2vh;
  margin-left: 47vw;
  background-color: black;
}

.cont_titulo_componente2{
  display: flex;
  margin-top: 5vh;
  margin-left: 2vw;
  height: 4vh;
  width: 48vw;
  background-color: #1B2E51;
}

.cont_titulo_componente2 h2{
  height: 4vh;
  width: 55vw;
  margin-left: 0.7vw;
  line-height: 4vh;
  background-color: #EEF1F4;
}

.cont_titulo_componente2 span{
  height: 4vh;
  margin-left: 0.5vw;
  line-height: 4vh;
  background-color: #EEF1F4;
}

.cont_titulo_componente2 .linea{
  position: absolute;
  width: 59vw;
  height: 0.2vh;
  margin-top: 2vh;
  margin-left: 36vw;
  background-color: black;
}

.cont_titulo_componente3{
  display: flex;
  margin-top: 5vh;
  margin-left: 2vw;
  height: 4vh;
  width: 48vw;
  background-color: #1B2E51;
}

.cont_titulo_componente3 h2{
  height: 4vh;
  width: 55vw;
  margin-left: 0.7vw;
  line-height: 4vh;
  background-color: #EEF1F4;
}

.cont_titulo_componente3 span{
  height: 4vh;
  margin-left: 0.5vw;
  line-height: 4vh;
  background-color: #EEF1F4;
}

.cont_titulo_componente3 .linea{
  position: absolute;
  width: 74.8vw;
  height: 0.2vh;
  margin-top: 2vh;
  margin-left: 20.5vw;
  background-color: black;
}

.container_componentes{
  display: flex;
  margin-left: 1.5vw;
  margin-top: 3vh;
}

.container_componentes img{
  width: 30vw;
  height: 30vh;
  border-radius: 1em;
  box-shadow: 1vh 1vh 2vh black;
}

.texto_componente{
  background-color: transparent;
}

.texto_componente p{
  width: 57vw;
  height: 24vh;
  padding: 1.5vw;
  margin-left: 1.5vw;
  border-radius: 1em;
  box-shadow: 1vh 1vh 2vh black;
  font-size: 1.2vw;
  background-color: white;
}

.componentes{
  color: black;
  cursor: pointer;
}

.cont_componente_emergente1, .cont_componente_emergente2, .cont_componente_emergente3{
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.425);
  transition: all 0.2s ease;
  opacity: 0;
  visibility: hidden;
}

.container_comp{
  position: absolute;
  width: 90vw;
  height: 90vh;
  margin-top: 5vh;
  margin-left: 5vw;
  border-radius: 1em;
  z-index: 11;
}

.container_comp label{
  background-color: transparent;
  cursor: pointer;
}

#btn_componente1{
  display: none;
}

#btn_componente1:checked ~ .cont_componente_emergente1{
  opacity: 1;
  visibility: visible;
}

#btn_componente2{
  display: none;
}

#btn_componente2:checked ~ .cont_componente_emergente2{
  opacity: 1;
  visibility: visible;
}

#btn_componente3{
  display: none;
}

#btn_componente3:checked ~ .cont_componente_emergente3{
  opacity: 1;
  visibility: visible;
}
.container_comp i{
  position: relative;
  top: 0.9vh;
  left: 88vw;
  font-size: 3vh;
  background-color: transparent;
}

.linea_inicial{
  width: 85vw;
  height: 0.2vh;
  border-radius: 5em;
  margin-left: 2vw;
  background-color: black;
}

.container_comp h1{
  width: 65vw;
  height: 6vh;
  line-height: 6vh;
  background-color: transparent;
}

.container_comp h1 span{
  margin-left: 2vw;
  color: #2c4d8b;
  background-color: transparent;
}

.container_comp h3{
  width: 65vw;
  height: 6vh;
  line-height: 6vh;
  margin-top: -2vh;
  margin-left: 4vw;
  background-color: transparent;
}

.container_comp h3 span{
  background-color: transparent;
}

.titulo_relacionadas{
  position: absolute;
  left: 67.5vw;
  font-size: 1.4vw;
  color: #2c4d8b;
  top: 8vh;
  background-color: transparent;
}

.contenido_componente1_emergente{
  display: flex;
  width: 85vw;
  height: 70vh;
  margin-left: 2.5vw;
  background-color:transparent;
}

.info{
  width: 60vw;
  height: 70vh;
  background-color: transparent;
  border-radius: 1em;
  overflow-y:scroll;
}

.contenerdor_info{
  width: 58vw;
  height: 100vh;
  margin-left: 0.6vw;
  background-color: transparent;
}

.contenerdor_info img{
  width: 56vw;
  height: 50vh;
  margin-top: 2vh;
  margin-left: 1vw;
  object-fit: cover;
}

.contenerdor_info p{
  font-size: 1vw;
  margin-top: 2vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vw;
  text-align: justify;
  background-color: transparent;
}

.noticias_relacionadas{
  width: 20vw;
  height: 70vh;
  margin-left: 5vw;
  background-color: #ccc;
  box-shadow: 0.5vh 0.5vh 0.5vh 0.5vh rgba(0, 0, 0, 0.219);
}

.noticias_relacionadas a{
  color: black;
  background-color: transparent;
}

.noticias_relacionadas h2{
  width: 20vw;
  height: 4vh;
  padding-top: 2vh;
  background-color: transparent;
}

.noticias_relacionadas h2 span{
  font-size: 1.2vw;
  height: 5vh;
  background-color: transparent;
  margin-left: 2vw;
}

.noticias_relacionadas h4{
  width: 20vw;
  height: 2vh;  
  margin-left: 2vw;
  background-color: transparent;
}

.noticias_rel{
  width: 19vw;
  height: 12.8vh;
  margin-left: 0.5vw;
  margin-top: 1vh;
  border-radius: 1em;
  background-color: white;
}

.miss_click{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: transparent;
  cursor: pointer;
}

.linea_final{
  width: 85vw;
  height: 0.2vh;
  border-radius: 5em;
  margin-top: 3.5vh;
  margin-left: 2vw;
  background-color: black;
}

.separador{
  margin-top: 50vh;
}

footer {
  background-color: #1B2E51; /* Color azul oscuro del fondo */
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100vw;
  height: 15vh;
  position: relative;
  bottom: 0;
}

.footer-container {
  background-color: transparent;
  display: flex;
}

.footer-logo {
  width: 20vw;
  height: 12vh;
  margin-left: 5vw;
  background-color: transparent;
}

.footer-gobierno-logo {
  width: 15vw; /* Ajusta el tamaño del logo del Gobierno */
  height: 12vh;
  margin-left: 55vw;
  background-color: transparent;
}

.footer-bottom {
  font-size: 1.2vw;
  background-color: transparent;
}

.footer-bottom p{
  background-color: transparent;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
  .footer-right {
    margin-top: 20px;
    background-color: transparent;
  }
}

.separador {
  margin-top: 30vh;
}