* {
  background-color: #eef1f4;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Bree Serif", serif;
}

html{
  background-color: transparent;
}

header p{
  height: 3vh;
  line-height: 3vh;
  text-align: center;
  font-size: 1vw;
  color: white;
  background-color: transparent;
}

header{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 3vh;
  background-color: #1B2E51;
  z-index: 5;
}

nav{
  position: fixed;
  display: flex;
  top: 3vh;
  height: 8vh;
  width: 100vw;
  box-shadow: 0px 0.5vh 2vh black;
  z-index: 5;
}

nav a{
  width: 7vw;
}

body.dark-mode {
  background-color: #3c3c3c;
  color: white;
}

.container_nav.dark-mode {
  background-color: #292929;
}

#nav.dark-mode{
  background-color: #292929;
}

#logoA.dark-mode{
  background-color: transparent;
}

#RS.dark-mode{
  background-color: transparent;
  color: white;
}

#RS i.dark-mode{
  color: white;
}

nav span.dark-mode{
  color: white;
}

#titulo_span.dark-mode{
  color: white;
  background-color: #3c3c3c;
}

#container_all.dark-mode{
  background-color: #3c3c3c;
}

#componente.dark-mode{
  background-color: #3c3c3c;
}

#cont_titulo.dark-mode,
#span_titulo2.dark-mode,
#cont_titulo2.dark-mode{
  background-color: #3c3c3c;
  color: white;
}

#h2_titulo.dark-mode{
  background-color: #3c3c3c;
  border-bottom: solid white 0.5vw;
}

#line1.dark-mode,
#line2.dark-mode{
  background-color: white;
}

#cont_link.dark-mode{
  background-color: #707070;
}

.container_nav{
  display: flex;
  width: 90vw;
  height: 6.5vh;
  margin-left: 0%;
  margin-top: 0.5vh;
  border-bottom: black solid 0.2vh;
  border-top: black solid 0.2vh;
  z-index: 3;
}

.logo{
  width: auto;
  height: 80%;
  margin-left: 1vw;
  margin-right: -2vw;
  margin-top: 0.8vh;
  border-radius: 1em;
}

.container_nav a{
  width: 3.6vw;
  height: 3.6vw;
  background-color: transparent;
}

.botones{
  z-index: 2;
  display: flex;
  width: 75vw;
  margin-left: 2vw;
  background-color: transparent;
}

.botones li{
  width: 15vw;
  height: 6vh;
  line-height: 6vh;
  text-align: center;
  background-color: transparent;
}

.boton{
  width: 15vw;
  height: 8vh;
  background-color: transparent;
}

.boton span{
  display: block;
  width: 15vw;
  height: 6vh;
  font-size: 1vw;
  color: black;
  background-color: transparent;
}

.boton span:hover{
  width: 15vw;
  height: 6vh;
  transition: background-color 0.3s ease-in-out;
  background-color: rgb(214, 214, 214);
}

  /* Efecto hover para los span en modo oscuro */
  .boton span:hover.dark-mode {
    background-color: #444444;  /* Fondo gris oscuro */
    color: #ffffff;             /* Color de texto blanco */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Transición suave */
  }
.redes_sociales{
  width: 11vw;
  font-size: 1.5vw;
}

.redes_sociales i{
  height: 6vh;
  width: 3.3vw;
  line-height: 6vh;
  text-align: center;
  color: black;
  background-color: transparent;
}

#btn-oscuro{
  display: none;
}

  #oscuro{
    position: fixed;
    top: 1vh;
    right: 2vw;
    font-size: 1vw;
    width: 0.5vw;
    height: 0.5vw;
    line-height: 0.5vw;
    text-align: center;
    color: white;
    border-radius: 5vw;
    border: none;
    background-color: transparent;
    z-index: 5;
    cursor: pointer;
  }

  #oscuro:hover{
    background-color: #1B2E51;
    color: white;
  }

.titulo {
  display: flex;
  width: 100vw;
  height: 12vh;
  margin-top: 20vh;
}

.titulo h2 {
  width: 15vw;
  height: 7vh;
  line-height: 3vh;
  font-size: 1.5vw;
  text-align: center;
  border-bottom: solid #1b2e51 0.5vw;
}

.titulo h2 span {
  width: 15vw;
  background-color: transparent;
}

.linea1 {
  height: 0.25vh;
  width: 38vw;
  margin-top: 1.5vh;
  margin-left: 2.5vw;
  margin-right: 1vw;
  background-color: #1b2e51;
}

.linea2 {
  height: 0.25vh;
  width: 39vw;
  margin-left: 1vw;
  margin-top: 1.5vh;
  background-color: #1b2e51;
}

.container_vinculacion{
  width: 85vw;
  height: 60vh;
  margin-left: 7.5vw;
  margin-bottom: 10vh;
  border-radius: 1em;
  background-color: white;
  border: #c9c9c9 solid 0.25vh;
  box-shadow: -1px -2px 35px -8px rgba(0,0,0,0.75);
}

.primera_linea{
  width: 85vw;
  height: 20vh;
  background-color: transparent;
}

.primera_linea a{
  display: inline-block;
  width: 14.5vw;
  height: 18vh;
  margin-top: 5vh;
  margin-left: 10vw;
  border-radius: 1em;
  border-top: solid transparent;
  background-color: black;
}

.primera_linea a span{
  display: inline-block;
  position: relative;
  width: 15vw;
  height: 18vh;
  top: -0.35vh;
  left: -0.25vw;
  line-height: 24vh;
  font-size: 1.1vw;
  text-align: center;
  color: white;
  border-radius: 0.5em;
  border-top: solid #ccc 0.5vh;
  background-color: #244279;
  box-shadow: 4px -4px 17px -4px rgba(0,0,0,0.5);
}

.primera_linea a span i{
  position: absolute;
  top: 5vh;
  left: 6.5vw;
  font-size: 2.2vw;
  background-color: transparent;
}

.primera_linea a span:hover{
  background-color: #1b2e51;
  transform: rotate(7deg) scale(110%);
  box-shadow: 4px -4px 33px -14px rgba(0,0,0,0.5);
}

.segunda_linea{
  width: 85vw;
  height: 20vh;
  margin-top: 5vh;
  background-color: transparent;
}

#primera{
  margin-left: 20vw;
}

#segundo{
  margin-left: 15vw;
}

.segunda_linea a{
  display: inline-block;
  width: 14.5vw;
  height: 18vh;
  margin-top: 5vh;
  border-radius: 1em;
  border-top: solid transparent;
  background-color: #aaaaaa;
}

.segunda_linea a span{
  display: inline-block;
  position: relative;
  width: 15vw;
  height: 18vh;
  top: -0.35vh;
  left: -0.25vw;
  line-height: 24vh;
  font-size: 1.1vw;
  text-align: center;
  color: white;
  border-radius: 0.5em;
  border-top: solid #ccc 0.5vh;
  background-color: #244279;
  box-shadow: 4px -4px 17px -4px rgba(0,0,0,0.5);
}

.segunda_linea a span i{
  position: absolute;
  top: 5vh;
  left: 6.5vw;
  font-size: 2.5vw;
  background-color: transparent;
}

.segunda_linea a span:hover{
  background-color: #1b2e51;
  transform: rotate(7deg) scale(110%);
}

footer {
  background-color: #1b2e51; /* Color azul oscuro del fondo */
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100vw;
  height: 15vh;
  position: absolute;
}

.footer-container {
  background-color: transparent;
  display: flex;
}

.footer-logo {
  width: 20vw;
  height: 12vh;
  margin-left: 5vw;
  background-color: transparent;
}

.footer-gobierno-logo {
  width: 15vw; /* Ajusta el tamaño del logo del Gobierno */
  height: 12vh;
  margin-left: 55vw;
  background-color: transparent;
}

.footer-bottom {
  font-size: 1.2vw;
  background-color: transparent;
}

.footer-bottom p {
  background-color: transparent;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
  .footer-right {
    margin-top: 20px;
    background-color: transparent;
  }
}

.separador {
  height: 145vh;
}