/* Estilos para todo */
* {
  background-color: #e0ecfa;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  list-style: none;
  text-decoration: none;
  margin: 0;
}

/* Estilos para todas las etiquetas a */
a {
  background-color: transparent;
}

/* Estilo para todas las etiquetas li */
li {
  background-color: transparent;
}

/* Estilos para la barra superior (logo y botones) */
/* Estilos para la etiqueta nav */
nav {
  display: flex; /* Estilo para que el contenido de la etiqueta nav este uno junto al otro */
  position: fixed; /* Estilo para fijar la posicion de nav al hacer scroll*/
  width: 100vw;
  height: 11vh;
  z-index: 5;
  background-color: transparent; /* Estilo para darle color a la etiqueta en si */
  transition: all 0.5s ease;
}

.nav.active {
  background-color: #003274d1;
}

/* Estilos para la etiqueta div con la clase "botones" */
.botones {
  position: relative;
  display: flex;
  top: 1.5vh;
  background-color: transparent;
}

/* Estilos para las etiquetas a con la clase "boton"*/
.submenu {
  position: absolute;
  display: none;
  width: 13.2vw;
  height: 26vh;
  z-index: -1;
  top: 0vh;
  left: 20.8vw;
  transition: 0.5s;
  border-radius: 3em;
  background-color: coral;
}

.submenu li span {
  display: inline-block;
  width: 14vw;
  height: 5.5vh;
  line-height: 5.5vh;
  text-align: center;
  margin-left: -1.4vw;
  font-size: 1.2vw;
  color: white;
  background-color: transparent;
}

.submenu li span:hover {
  width: 14vw;
  left: 0.1vw;
  border-radius: 4em;
  background-color: #bd4b00;
}

#primero {
  margin-top: 8vh;
}

.dos:hover .submenu {
  display: initial;
}

.dos {
  background-color: transparent;
  z-index: -3;
}

/*no eliminar, es necesaria para submenu aunque este vacia*/
.dos:hover {
}
.botones {
  position: relative;
  display: flex;
  top: 1.5vh;
  background-color: transparent;
}

.boton {
  position: absolute;
  display: flex;
  padding: 5px 15px; /* Estilo para darle mas espacio 5px hacias arriba/abajo y 15px hacia la derecha/izquierda */
  width: 14vw; /* Estilo para establecer el ancho de la etiqueta */
  height: 6vh; /* Estilo para establecer el alto de la etiqueta */
  text-align: center; /* Estilo para ajustar el texto en el centro de la etiqueta (horizontalmente) */
  border-radius: 4em; /* Estilo para redondear las esquinas de la etiqueta */
  margin-left: 1.5vw; /* Estilo para desplazar desde izquierda a derecha sin afectar el tamaño de la etiqueta */
  color: white; /* Estilo para darle color a la letra dentro la etiqueta */
  font-size: 1.2vw; /* Estilo para darle tamaño a la letra dentro de la etiqueta */
}

/* Estilos para las etiquetas i dentro de las etiquetas a con la clase "boton" */
.boton i {
  width: 2.8vw;
  height: 5.5vh;
  font-size: 1.7vw;
  border-radius: 5em;
  align-items: center;
  line-height: 5.5vh; /* Estilo para ajustar el texto en el centro de la etiqueta (verticalmente) */
  margin-left: -0.4vw;
}

/* Estilos para las etiquetas span dentro de las etiquetas a con las clase "boton" */
.boton span {
  width: 12vw;
  line-height: 6vh;
  background-color: transparent;
}

/* Estilos para la etiqueta img con la clase "logo" */
.logo {
  height: 9vh;
  border-radius: 10em;
  margin-top: 1vh;
  margin-left: 1.5vw;
  background-color: transparent;
}

/* Estilos para la etiqueta a con un id "btn1" */
#btn1 {
  left: 1vw;
  background-color: #004aad;
  border: #0a3876 solid 0.2em; /* Estilos para crearle bordes a una etiqueta (color, estilo de borde, grosor) */
}

/* Estilos para la etiqueta i con un id "logo_btn1" */
#logo_btn1 {
  background-color: #0a3876;
  border: #052a5a solid 0.1em;
}

/* Estilos para la animacion de la etiqueta a con un id "btn1" */
#btn1:hover {
  background-color: #003881;
  border: #011631 solid 0.2em;
}

/* Estilos para la etiqueta a con un id "btn2" */
#btn2 {
  left: 19vw;
  background-color: #ff0000;
  border: #b70000 solid 0.2em;
}

/* Estilos para la etiqueta i con un id "logo_btn2" */
#logo_btn2 {
  background-color: #b70000;
  border: #8d0000 solid 0.1em;
}

/* Estilos para la animacion de la etiqueta a con un id "btn2" */
#btn2:hover {
  background-color: #ad0000;
  border: #680000 solid 0.2em;
}

/* Estilos para la etiqueta a con un id "btn3" */
#btn3 {
  left: 37vw;
  background-color: #1a929a;
  border: #17676c solid 0.2em;
  text-align: center;
}

/* Estilos para la etiqueta i con un id "logo_btn3" */
#logo_btn3 {
  background-color: #17676c;
  border: #0a585e solid 0.1em;
}

/* Estilos para la animacion de la etiqueta a con un id "btn3" */
#btn3:hover {
  background-color: #077179;
  border: #013135 solid 0.2em;
}

/* Estilos para la etiqueta a con un id "btn4" */
#btn4 {
  left: 55vw;
  background-color: #00bf83;
  border: #29735b solid 0.2em;
}

/* Estilos para la etiqueta i con un id "logo_btn4" */
#logo_btn4 {
  background-color: #29735b;
  border: #14523e solid 0.1em;
}

/* Estilos para la animacion de la etiqueta a con un id "btn4" */
#btn4:hover {
  background-color: #008d60;
  border: #093527 solid 0.2em;
}

/* Estilos para la etiqueta a con un id "btn5" */
#btn5 {
  left: 73vw;
  background-color: #9b4195;
  border: #7b3076 solid 0.2em;
}

/* Estilos para la etiqueta i con un id "logo_btn5" */
#logo_btn5 {
  background-color: #7b3076;
  border: #53164f solid 0.1em;
}

/* Estilos para la animacion de la etiqueta a con un id "btn5" */
#btn5:hover {
  background-color: #7a0a73;
  border: #31072e solid 0.2em;
}

.container_noticias_group {
  gap: 2vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container_noticia {
  justify-content: left;
  align-items: center;
  display: flex;
  width: 180vh;
  height: 40vh;
  background-color: whitesmoke;
  border-radius: 2vh;
  box-shadow: 0.5vh 0.5vh 1vh 0vh rgb(100, 99, 99);
}

.container_noticia img {
  height: 35vh;
  margin-left: 2vh;
  background-color: whitesmoke;
}

.container_noticia_contenido {
  margin-left: 5vh;
  margin-right: 5vh;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.container_noticia_titulo {
  margin-bottom: 2vh;
  margin-left: 45vh;
  font-size: x-large;
}

.container_noticia_texto {
  background-color: transparent;
}

footer {
  margin-top: 2vh;
  background-color: #27485e; /* Color azul oscuro del fondo */
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-left,
.footer-right {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.footer-logo {
  width: 370px; /* Ajusta el tamaño del logo de la facultad */
  margin-right: 10px;
  background-color: transparent;
}

.footer-logo p {
  background-color: transparent;
}

.footer-right {
  flex-direction: row;
  background-color: transparent;
}

.footer-gobierno-logo {
  width: 200px; /* Ajusta el tamaño del logo del Gobierno */
  margin-top: 5px;
  background-color: transparent;
}

.footer-left p {
  margin: 0;
  font-size: 14px;
  text-align: left;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  background-color: transparent;
}

.social-icons img {
  width: 45px; /* Tamaño de los íconos de redes sociales */
  filter: brightness(0) invert(1); /* Hace que los íconos sean blancos sobre el fondo oscuro */
  background-color: transparent;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 23px;
  background-color: transparent;
}

.footer-bottom p {
  background-color: transparent;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
  .footer-right {
    margin-top: 20px;
    background-color: transparent;
  }
}
.separador {
  height: 15vw;
}
