* {
  background-color: #eef1f4;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Bree Serif", serif;
}

header p{
  height: 3vh;
  line-height: 3vh;
  text-align: center;
  font-size: 1vw;
  color: white;
  background-color: transparent;
}

header{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 3vh;
  background-color: #1B2E51;
  z-index: 5;
}

nav{
  position: fixed;
  display: flex;
  top: 3vh;
  height: 8vh;
  width: 100vw;
  box-shadow: 0px 0.5vh 2vh black;
  z-index: 5;
}

nav a{
  width: 7vw;
}

.container_nav{
  display: flex;
  width: 90vw;
  height: 6.5vh;
  margin-left: 0%;
  margin-top: 0.5vh;
  border-bottom: black solid 0.2vh;
  border-top: black solid 0.2vh;
  z-index: 3;
}

.logo{
  width: auto;
  height: 80%;
  margin-left: 1vw;
  margin-right: -2vw;
  margin-top: 0.8vh;
  border-radius: 1em;
}

.container_nav a{
  width: 3.6vw;
  height: 3.6vw;
  background-color: transparent;
}

.botones{
  z-index: 2;
  display: flex;
  width: 75vw;
  margin-left: 2vw;
  background-color: transparent;
}

.botones li{
  width: 15vw;
  height: 6vh;
  line-height: 6vh;
  text-align: center;
  background-color: transparent;
}

.boton{
  width: 15vw;
  height: 8vh;
  background-color: transparent;
}

.boton span{
  display: block;
  width: 15vw;
  height: 6vh;
  font-size: 1vw;
  color: black;
  background-color: transparent;
}

.boton span:hover{
  width: 15vw;
  height: 6vh;
  transition: background-color 0.3s ease-in-out;
  background-color: rgb(214, 214, 214);
}

  /* Efecto hover para los span en modo oscuro */
  nav.dark-hover span:hover {
    background-color: #444444;  /* Fondo gris oscuro */
    color: #ffffff;             /* Color de texto blanco */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Transición suave */
  }

.redes_sociales{
  width: 11vw;
  font-size: 1.5vw;
}

.redes_sociales i{
  height: 6vh;
  width: 3.3vw;
  line-height: 6vh;
  text-align: center;
  color: black;
  background-color: transparent;
}

#btn-oscuro{
  display: none;
}

  #oscuro{
    position: fixed;
    top: 1vh;
    right: 2vw;
    font-size: 1vw;
    width: 0.5vw;
    height: 0.5vw;
    line-height: 0.5vw;
    text-align: center;
    color: white;
    border-radius: 5vw;
    border: none;
    background-color: transparent;
    z-index: 5;
    cursor: pointer;
  }

  #oscuro:hover{
    background-color: #1B2E51;
    color: white;
  }

.titulo {
  display: flex;
  width: 100vw;
  height: 12vh;
  margin-top: 20vh;
}

.titulo h2 {
  width: 15vw;
  height: 5vh;
  font-size: 1.5vw;
  text-align: center;
  border-bottom: solid #1b2e51 0.5vw;
}

.titulo h2 span {
  width: 15vw;
  background-color: transparent;
}

.linea1 {
  height: 0.25vh;
  width: 38vw;
  margin-top: 1.5vh;
  margin-left: 2.5vw;
  margin-right: 1vw;
  background-color: #1b2e51;
}

.linea2 {
  height: 0.25vh;
  width: 39vw;
  margin-left: 1vw;
  margin-top: 1.5vh;
  background-color: #1b2e51;
}

.container {
  position: relative;
  top: 0vh;
  width: 55vw;
  margin-left: 1.5vw;
  height: 60vh;
  background-color: rgb(212, 212, 212);
  box-shadow: 0.5vw 1vh 2vh rgba(0, 0, 0, 0.459);
}

.splide__slide {
  background-color: transparent;
  display: flex;
}

.splide__slide img {
  width: 95%;
  height: 56vh;
  margin-top: 2vh;
  margin-left: 2.5%;
  object-fit: cover;
  cursor: pointer;
  background-color: transparent;
}

.splide__track {
  background-color: transparent;
}

.splide__list {
  background-color: transparent;
}

.splide__slide h3 {
  position: absolute;
  top: 50vh;
  left: 1.35vw;
  height: 10vh;
  line-height: 8vh;
  width: 52.3vw;
  background-color: rgba(0, 0, 0, 0.521);
}

.splide__slide span {
  position: absolute;
  font-size: 1.8vw;
  left: 5vw;
  color: white;
  background-color: transparent;
}

.cont_slider {
  display: flex;
  background-color: transparent;
}

.noticias_destacadas {
  width: 40vw;
  height: 60vh;
  background-color: #1b2e51;
}

.superior {
  display: flex;
}

.cont_titulo_noticias_dest {
  display: flex;
  margin-top: -4vh;
  margin-left: 2vw;
  height: 4vh;
  width: 28vw;
  background-color: #1b2e51;
}

.cont_titulo_noticias_dest h2 {
  height: 4vh;
  width: 28vw;
  margin-left: 0.7vw;
  font-size: 1.4vw;
  line-height: 4vh;
  background-color: #eef1f4;
}

.cont_titulo_noticias_dest span {
  height: 4vh;
  margin-left: 0.5vw;
  line-height: 4vh;
  background-color: #eef1f4;
}

.cont_titulo_noticias_dest .linea {
  position: absolute;
  width: 20vw;
  height: 0.4vh;
  margin-top: 2vh;
  margin-left: 17vw;
  background-color: black;
}

.destacada {
  display: flex;
  width: 38vw;
  margin-left: 1vw;
  margin-top: 1vh;
  height: 29vh;
  border-radius: 0.5em;
  box-shadow: 0.5vh 0.5vh 1vh;
  background-color: #ccc;
}

.destacada img {
  width: 20vw;
  height: 26vh;
  margin-top: 1.5vh;
  margin-left: 1vw;
  object-fit: cover;
}

.text {
  height: 29vh;
  background-color: transparent;
}

.text h4 {
  color: black;
  font-size: 1vw;
  margin-left: 1vw;
  margin-top: 1.5vh;
  background-color: transparent;
}

.text h5 {
  color: black;
  font-size: 0.7vw;
  margin-left: 1vw;
  background-color: transparent;
}

.text p {
  text-align: justify;
  padding: 1vw;
  color: black;
  font-size: 0.8vw;
  background-color: transparent;
}

.separador {
  margin-top: 20vh;
}

.linea_separacion {
  width: 90vw;
  height: 0.2vh;
  background-color: black;
  margin-top: 10vh;
  margin-left: 5vw;
}

.inferior {
  width: 100vw;
  height: 80vh;
  display: flex;
  margin-top: 10vh;
}

.botones_noticias {
  width: 70vw;
  height: 6vh;
  background-color: transparent;
}

.btn_noticias {
  width: 10vw;
  height: 5vh;
  margin-left: 2vw;
  border-radius: 3em;
  font-size: 1.8vh;
  box-shadow: 0.1vh 0.1vh 1vh black;
  border: solid 0.3vh black;
  background-color: #ccc;
}

.suscripcion {
  width: 10vw;
  height: 5vh;
  margin-left: 21vw;
  border-radius: 3em;
  font-size: 1.8vh;
  color: white;
  box-shadow: 0.1vh 0.1vh 1vh black;
  border: solid 0.3vh black;
  background-color: #1b2e51;
}

.seccion_noticias {
  width: 70vw;
  height: 90vh;
  background-color: transparent;
}

.primera_linea_noticias {
  display: flex;
  width: 70vw;
  height: 35vh;
  margin-top: 5vh;
  background-color: transparent;
}

.segunda_linea_noticias {
  display: flex;
  width: 70vw;
  height: 35vh;
  margin-top: 5vh;
  background-color: transparent;
}

.noticias a {
  color: black;
}

.noticias {
  width: 20vw;
  height: 35vh;
  margin-left: 2.5vw;
  background-color: transparent;
}

.noticias img {
  width: 20vw;
  height: 25vh;
  object-fit: cover;
  box-shadow: 0.5vh 0.5vh 1vh black;
  background-color: transparent;
}

.noticias h4 {
  margin-top: 1vh;
  font-size: 1.2vw;
  background-color: transparent;
}

.noticias h5 {
  font-size: 0.8vw;
  background-color: transparent;
}

.seccion_podcast {
  width: 25vw;
  height: 90vh;
  background-color: #ccc;
  border-radius: 0.5em;
  margin-left: 2.5vw;
  margin-top: 5vh;
}

.podcast {
  width: 20vw;
  height: 20vh;
  margin-left: 2.5vw;
  margin-top: 2vh;
  border-radius: 0.5em;
}

.podcast h4 {
  width: 20vw;
  height: 4vh;
  line-height: 4vh;
  font-size: 1vw;
  border-radius: 0.5em 0.5em 0em 0em;
  background-color: rgba(0, 0, 0, 0.555);
}

.podcast span {
  margin-left: 1vw;
  background-color: transparent;
}

.cont_titulo_podcast {
  display: flex;
  position: absolute;
  top: 110vh;
  height: 4vh;
  width: 18vw;
  background-color: #1b2e51;
}

.cont_titulo_podcast h2 {
  height: 4vh;
  width: 18vw;
  margin-left: 0.7vw;
  line-height: 4vh;
  background-color: #eef1f4;
}

.cont_titulo_podcast span {
  height: 4vh;
  margin-left: 0.5vw;
  line-height: 4vh;
  font-size: 1.5vw;
  background-color: #eef1f4;
}

.cont_titulo_podcast .linea_podcast {
  position: absolute;
  width: 17vw;
  height: 0.4vh;
  margin-top: 2vh;
  margin-left: 8vw;
  background-color: black;
}

footer {
  background-color: #1B2E51; /* Color azul oscuro del fondo */
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100vw;
  height: 15vh;
  position: relative;
  bottom: 0;
}

.footer-container {
  background-color: transparent;
  display: flex;
}

.footer-logo {
  width: 20vw;
  height: 12vh;
  margin-left: 5vw;
  background-color: transparent;
}

.footer-gobierno-logo {
  width: 15vw; /* Ajusta el tamaño del logo del Gobierno */
  height: 12vh;
  margin-left: 55vw;
  background-color: transparent;
}

.footer-bottom {
  font-size: 1.2vw;
  background-color: transparent;
}

.footer-bottom p{
  background-color: transparent;
}

.separador {
  margin-top: 30vh;
}
