* {
    background-color: #E0ECFA;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
  }

  /* Estilos para todas las etiquetas a */
a {
    background-color: transparent;
    color: black;
}
  
  /* Estilo para todas las etiquetas li */
li {
    background-color: transparent;
}

body{
    z-index: -100;
}

.container_nav{
    position: fixed;
    display: flex;
    width: 100vw;
    height: 12vh;
    background-color: #27485e;
    z-index: 1;
}

.btn_menu{
    background-color: transparent;
}

.btn_menu label{
    cursor: pointer;
    background-color: transparent;
}

.btn_menu label i{
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 4vw;
    color: white;
    background-color: transparent;
}

.logo{
    background-color: transparent;
}

.logo img{
    width: 10vh;
    height: 10vh;
    border-radius: 5em;
    border: none;
    margin-top: 1vh;
    margin-left: 1vw;
    background-color: transparent;
}

#btn_menu_lateral{
    display: none;
}

#opciones{
    position: relative;
    display: flex;
    left: 75vw;
    top: 3vh;
    width: 10vw;
    height: 6vh;
    border-radius: 3em;
    background-color: #48419B;
    cursor: pointer;
    
}

#opciones i{
    background-color: transparent;
    height: 6vh;
    line-height: 6vh;
    font-size: 2vw;
    margin-left: -1.5vw;
}

#opciones span{
    height: 6vh;
    line-height: 6vh;
    margin-left: 2vw;
    font-size: 1.5vw;
    color: white;
    background-color: transparent;
}

#opciones:hover{
    background-color: #2e277c;
}

#submenu{
    position: absolute;
    display: none;
    height: 16.5vh;
    width: 10vw;
    left: 0vw;
    top: 1.5vh;
    border-radius: 1em 1em 1em 1em;
    background-color: #D9D9D9;
    z-index: -3;
}

#opciones:hover #submenu{
    display: block;
}

#primero{
    margin-top: 5vh;
}

#submenu li{
    width: 12vw;
    height: 4.9vh;
    line-height: 4.9vh;
    font-size: 1.5vw;
    text-align: center;
    margin-left: -2.1vw;
    border: 0.1vh solid transparent;
}

#submenu li a{
    color: black;
}

#submenu li:hover{
    background-color: #cacaca;
    border-bottom: 0.1vh solid black;
}

.container_menu{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    transition: all 0.2s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

#btn_menu_lateral:checked ~ .container_menu{
    opacity: 1;
    visibility: visible;
}

.cont_menu{
    position: relative;
    width: 100%;
    max-width: 22vw;
    height: 100vh;
    background-color: #27485e;
    transition: all 0.2s ease;
}

.cont_menu nav{
    transform: translateY(15%);
    background-color: transparent;
}

.cont_menu nav img{
    width: 10vw;
    height: 10vw;
    border-radius: 10em;
    margin-top: 1vh;
    margin-left: 6vw;
    margin-bottom: 5vh;
}

.cont_menu nav a{
    display: block;
    height: 8vh;
    width: 21.8vw;
    line-height: 8vh;
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border-left: 0.20vw solid transparent;
}

.cont_menu nav a span{
    margin-left: 1vw;
    background-color: transparent;
}

.cont_menu nav a:hover{
    background-color: #163549;
    border-left: 0.20vw solid white;
}

.cont_menu label{ 
    position: absolute;
    right: 1vw;
    top: 1vw;
    cursor: pointer;
    background-color: transparent;
}

.cont_menu label i{
    font-size: 2vw;
    color: white;
    background-color: transparent;
}

.miss{
    width: 78vw;
    height: 100vh;
    position: fixed;
    left: 22vw;
    background-color: transparent;
    z-index: 1;   
}

.container_perfil{
    position: relative;
    display: flex;
    width: 90vw;
    height: 90vh;
    top: 20vh;
    margin-left: 5vw;
    border-radius: 2em;
    background-color: #163549;
}

.columna1{
  height: 85vh;
  width: 20vw;
  margin-top: 2.5vh;
  margin-left:1vw;
  border-radius: 1em;
  color: white;
  background-color: #27485e;
}

.imagen{
  position: relative;
  width: 10vw;
  height: 10vw;
  top: 2vh;
  left: 5vw;
  border-radius: 10em;
  background-color: #cacaca;
}

.texto_columna{
  background-color: transparent;
}

.texto_columna h3{
  width: 20vw;
  height: 12vh;
  line-height: 12vh;
  margin-top: 5vh;
  font-size: 1.5vw;
  text-align: center;
  border-bottom:  black  solid 0.1vw;
  background-color: transparent;
}

.texto_columna h4{
  width: 20vw;
  height: 4vh;
  margin-top: 4vh;
  margin-bottom: 2vh;
  font-size: 1.2vw;
  text-align: center;
  border-bottom: black solid 0.1vw;
  background-color: transparent;
}

.columna2{
  width: 65vw;
  height: 85vh;
  margin-top: 2.5vh;
  margin-left: 2vw;
  border-radius: 1em;
  background-color: transparent;
}

.biografia{
  width: 65vw;
  height: 30vh;
  border-radius: 1em;
  background-color: #27485e;
}

.biografia h2{
  width: 65vw;
  height: 6vh;
  line-height: 6vh;
  margin-left: 3vw;
  font-size: 2vw;
  color: white;
  background-color: transparent;
}

.biografia p{
  width: 60vw;
  height: 18vh;
  margin-left: 1%;
  border-radius: 1em;
  color: black;
  padding: 1vw;
  background-color: white;
}

.noticias{
  width: 65vw;
  height: 25.5vh;
  margin-top: 2vh;
  border-radius: 1em;
  background-color: #27485e;
}

.noticias h2{
  width: 65vw;
  height: 6vh;
  line-height: 6vh;
  margin-left: 3vw;
  font-size: 2vw;
  color: white;
  background-color: transparent;
}

.noticias p{
  width: 60vw;
  height: 14vh;
  margin-left: 1%;
  border-radius: 1em;
  color: black;
  padding: 1vw;
  background-color: white;
}

.proyectos{
  width: 65vw;
  height: 25.5vh;
  margin-top: 2vh;
  border-radius: 1em;
  background-color: #27485e;
}

.proyectos h2{
  width: 65vw;
  height: 6vh;
  line-height: 6vh;
  margin-left: 3vw;
  font-size: 2vw;
  color: white;
  background-color: transparent;
}

.proyectos p{
  width: 60vw;
  height: 14vh;
  margin-left: 1%;
  border-radius: 1em;
  color: black;
  padding: 1vw;
  background-color: white;
}


footer {
    background-color: #27485e; /* Color azul oscuro del fondo */
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-container {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-left,
  .footer-right {
    display: flex;
    align-items: center;
    background-color: transparent;
  }
  
  .footer-logo {
    width: 370px; /* Ajusta el tamaño del logo de la facultad */
    margin-right: 10px;
    background-color: transparent;
  }
  
  .footer-logo p {
    background-color: transparent;
  }
  
  .footer-right {
    flex-direction: row;
    background-color: transparent;
  }
  
  .footer-gobierno-logo {
    width: 200px; /* Ajusta el tamaño del logo del Gobierno */
    margin-top: 5px;
    background-color: transparent;
  }
  
  .footer-left p {
    margin: 0;
    font-size: 14px;
    text-align: left;
    background-color: transparent;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    background-color: transparent;
  }
  
  .social-icons img {
    width: 45px; /* Tamaño de los íconos de redes sociales */
    filter: brightness(0) invert(1); /* Hace que los íconos sean blancos sobre el fondo oscuro */
    background-color: transparent;
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 23px;
    background-color: transparent;
  }
  
  .footer-bottom p{
    background-color: transparent;
  }
  
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      text-align: center;
    }
    .footer-right {
      margin-top: 20px;
      background-color: transparent;
    }
  }

  .separador {
    height: 20vw;
  }
  