/* 
tipos de etiquetas y como reconocerla
1) las etiquetas que no empiezan con nada son etiquetas globales, los estilos se aplicaran a todas esas etiquetas.
2) las etiquetas que empiezan por un punto son etiquetas con una clase (class), los estilos se aplicaran solo a las etiquetas que tengan esa class.
3) las etiquetas que empiezan por un hashtak son etiquetas con una ID, los estilos se aplicaran solo a las etiquetas que tengan esa ID y las ID son unicas.
*/

/* Estilos para todo */
*{
    background-color: #E0ECFA;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
}

/* Estilos para todas las etiquetas a */
a{
    background-color: transparent;
}

/* Estilo para todas las etiquetas li */
li{
    background-color: transparent;
} 

/* Estilos para la barra superior (logo y botones) */
/* Estilos para la etiqueta nav */
nav{
    display: flex; /* Estilo para que el contenido de la etiqueta nav este uno junto al otro */
    position: fixed; /* Estilo para fijar la posicion de nav al hacer scroll*/
    width: 100vw;
    height: 11vh;
    z-index: 5;
    background-color: transparent; /* Estilo para darle color a la etiqueta en si */
    transition: all 0.5s ease;
}

.nav.active{
    background-color: #003274d1;
}


/* Estilos para la etiqueta div con la clase "botones" */

.submenu{
    position: absolute;
    display: none;
    width: 13.2vw;
    height: 26vh;
    z-index: -1;
    top: 0vh;
    left: 20.8vw;
    transition: 0.5s;
    border-radius: 3em;
    background-color:coral;
}

.submenu li span{
    display: inline-block;
    width: 14vw;
    height: 5.5vh;
    line-height: 5.5vh;
    text-align: center;
    margin-left: -1.4vw;
    font-size: 1.2vw;
    color: white;
    background-color: transparent;
}

.submenu li span:hover{
    width: 14vw;
    left: 0.1vw;
    border-radius: 4em;
    background-color: #bd4b00;
}

#primero{
    margin-top: 8vh;
}

.dos:hover .submenu{
    display: initial;
}

.dos{
    background-color: transparent; 
    z-index: -3;  
}

.dos:hover{
    
}
.botones{
    position: relative;
    display: flex;
    top: 1.5vh;
    background-color: transparent;
}

/* Estilos para las etiquetas a con la clase "boton"*/
.boton{
    position: absolute;
    display: flex;
    padding: 5px 15px;  /* Estilo para darle mas espacio 5px hacias arriba/abajo y 15px hacia la derecha/izquierda */
    width: 14vw;    /* Estilo para establecer el ancho de la etiqueta */
    height: 6vh;  /* Estilo para establecer el alto de la etiqueta */
    text-align: center; /* Estilo para ajustar el texto en el centro de la etiqueta (horizontalmente) */
    border-radius: 4em; /* Estilo para redondear las esquinas de la etiqueta */
    margin-left: 1.5vw;   /* Estilo para desplazar desde izquierda a derecha sin afectar el tamaño de la etiqueta */
    color: white;   /* Estilo para darle color a la letra dentro la etiqueta */
    font-size: 1.2vw;  /* Estilo para darle tamaño a la letra dentro de la etiqueta */
}

/* Estilos para las etiquetas i dentro de las etiquetas a con la clase "boton" */
.boton i{
    width: 2.8vw; 
    height: 5.5vh;
    font-size: 1.7vw; 
    border-radius: 5em;
    align-items: center;
    line-height: 5.5vh;   /* Estilo para ajustar el texto en el centro de la etiqueta (verticalmente) */
    margin-left: -0.4vw;
}

/* Estilos para las etiquetas span dentro de las etiquetas a con las clase "boton" */
.boton span{
    width: 12vw;
    line-height: 6vh;
    background-color: transparent;
}

/* Estilos para la etiqueta img con la clase "logo" */
.logo{
    height: 9vh;
    border-radius: 10em;
    margin-top: 1vh;
    margin-left: 1.5vw;
    background-color: transparent;
}

/* Estilos para la etiqueta a con un id "btn1" */
#btn1{
    left: 1vw;
    background-color: #004AAD;
    border: #0A3876 solid 0.2em;    /* Estilos para crearle bordes a una etiqueta (color, estilo de borde, grosor) */
}

/* Estilos para la etiqueta i con un id "logo_btn1" */
#logo_btn1{
    background-color: #0A3876;
    border: #052a5a solid 0.1em;
}

/* Estilos para la animacion de la etiqueta a con un id "btn1" */
#btn1:hover{
    background-color: #003881;
    border: #011631 solid 0.2em;
}

/* Estilos para la etiqueta a con un id "btn2" */
#btn2{
    left: 19vw;
    background-color: #FF0000;
    border: #B70000 solid 0.2em;
}

/* Estilos para la etiqueta i con un id "logo_btn2" */
#logo_btn2{
    background-color: #B70000;
    border: #8d0000 solid 0.1em;
}

/* Estilos para la animacion de la etiqueta a con un id "btn2" */
#btn2:hover{
    background-color: #ad0000;
    border:  #680000 solid 0.2em;
}

/* Estilos para la etiqueta a con un id "btn3" */
#btn3{
    left: 37vw;
    background-color: #1A929A;
    border: #17676C solid 0.2em;
    text-align: center;
}

/* Estilos para la etiqueta i con un id "logo_btn3" */
#logo_btn3{
    background-color: #17676C;
    border: #0a585e solid 0.1em;
}

/* Estilos para la animacion de la etiqueta a con un id "btn3" */
#btn3:hover{
    background-color: #077179;
    border: #013135 solid 0.2em;
}

/* Estilos para la etiqueta a con un id "btn4" */
#btn4{
    left: 55vw;
    background-color: #00BF83;
    border: #29735B solid 0.2em;
}

/* Estilos para la etiqueta i con un id "logo_btn4" */
#logo_btn4{
    background-color: #29735B;
    border: #14523e solid 0.1em;
}

/* Estilos para la animacion de la etiqueta a con un id "btn4" */
#btn4:hover{
    background-color: #008d60;
    border: #093527 solid 0.2em;
}

/* Estilos para la etiqueta a con un id "btn5" */
#btn5{
    left: 73vw;
    background-color: #9B4195;
    border: #7B3076 solid 0.2em;
}

/* Estilos para la etiqueta i con un id "logo_btn5" */
#logo_btn5{
    background-color: #7B3076;
    border: #53164f solid 0.1em;
}

/* Estilos para la animacion de la etiqueta a con un id "btn5" */
#btn5:hover{
    background-color: #7a0a73;
    border: #31072e solid 0.2em;
}

/* Estilos para el slider */
/* Estilos para la etiqueta div con la clase "container_slider" */
.container_slider{
    background-color: #003881;
    position: relative;
    display: flex;
    width: 100vw;
    height: 25vw;
    top: 15vw;
}

.Slider{
    width: 55vw;
    height: 23vw;
    margin-top: 1vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

.itemsCarrusel{
    height: 23vw;
    border: black solid 2px;
    position: relative;
    width: 55vw;
}

.tarjetaCarrusel{
    background-color: #008d60;
    height: 100%;
}

.flechasCarrusel{
    background-color: transparent;
    height: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1vw;
}

#tarjetaCarrusel_1{
    background-color: blue;
}

#tarjetaCarrusel_2{
    background-color: red;
}

#tarjetaCarrusel_3{
    background-color: purple;
}

/* Estilos para el titulo de las ultimas noticas */
.titulo_news{
    position: relative;
    top: 42vh;
    width: 25vw;
    height: 8vh;
    line-height: 8vh;
    border-radius: 0em 3em 3em 0em;
    color: white;
    background-color: #003881;
}

.titulo_news span{
    margin-left: 3vw;
    font-size: 2vw;
    background-color: transparent;
}

#logo_titulo{
    position: relative;
    top: 1.2vh;
    left: 2vw;
    background-color: transparent;
    font-size: 3vw;
}

/* Estilos para ultimas noticias */
.cont_ult_news{
    position: absolute;
    display: flex;
    height: 63vh;
    width: 85vw;
    top: 110vh;
    margin-left: 7.5vw;
    border-radius: 1em;
    background-color: #d4d4d4;
}

.cont_ult_news a{
    width: 24vw;
    height: 55vh;
    margin-top: 2vh;
    margin-left: 3.25vw;
    color: black;
}

.noticias{
    width: 24vw;
    height: 55vh;
    border-radius: 2em;
    background-color: #f3f3f3;
}

.noticias img{
    width: 20vw;
    height: 20vh;
    margin-top: 4vh;
    margin-left: 2vw;
    object-fit: cover;
}

.text_news h3{
    width: 22vw;
    height: 8vh;
    line-height: 8vh;
    margin-left: 1vw;
    text-align: center;
    font-size: 1.5vw;
    color: black;
    background-color: transparent;
}

.text_news p{
    width: 20vw;
    height: 19vh;
    margin-left: 2vw;
    font-size: 0.85vw;
    text-align: justify;
    background-color: transparent;
}

.text_news{
    margin-top: 2vh;
    background-color: transparent;
}

footer{
    position: absolute;
    z-index: -1;
    height: 50vh;
    width: 100vw;
    background-color: #1C405F;
}
.separador{
    height: 70vw;
}